@charset "UTF-8";
:root {
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --dark-gray: hsl(0, 0%, 48%);
  --header-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 100%);
  --text-color: var(--dark-gray);
  --accent-color: hsl(216, 61%, 54%);
  --grey100: hsl(0, 0%, 92%);
  --grey300: hsl(0, 0%, 70%);
  --grey500: hsl(0, 0%, 50%);
  --base-font-size: 16px;
  --small-font-size: 14.4px;
  --line-height: 1.6em;
  --body-font-family: "Commissioner", sans-serif;
  --headings-font-family: var(--body-font-family);
  --h1-font-size: 2.7rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.3rem;
  --h5-font-size: 1.1rem;
  --h6-font-size: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  line-height: 1.6em;
  font-family: var(--body-font-family);
  color: var(--text-color);
  background-color: #eeeeee;
}

/* ========================== § TYPOGRAPHY === */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 60ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: black;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: 1.2em;
}

h2 {
  font-size: var(--h2-font-size);
  line-height: 1.2em;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: 1.2em;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: 1.2em;
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

a {
  color: var(--accent-color);
}

dt {
  font-weight: bold;
}

hr {
  border: none;
  border-bottom: 1px solid var(--grey300);
}

/* ========================== § TABLES === */
table,
td,
th {
  border: 1px solid var(--grey300);
}

table {
  border-collapse: collapse;
}

caption {
  font-size: var(--h4-font-size);
  font-weight: bold;
}

thead {
  font-weight: bold;
  background: var(--grey300);
}
thead th {
  border-color: var(--grey500);
}

td,
th {
  padding: 0.5rem;
}

/* ========================== § IMAGES === */
img {
  max-width: 100%;
}

figcaption {
  font-size: var(--small-font-size);
}

/* ========================== § FORMS === */
fieldset,
textarea {
  border: 1px solid var(--grey300);
}

textarea,
input,
select {
  border: 1px solid var(--grey300);
  padding: 0.5rem;
}

button,
input[type=submit] {
  cursor: pointer;
}

.header-container,
.main-content-container {
  /* mixin mq */
  /* end mixin mq */
  /* mixin mq */
  /* end mixin mq */
}
@media screen and (min-width: 650px) {
  .header-container,
.main-content-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
}
@media screen and (max-width: 649px) {
  .header-container,
.main-content-container {
    padding: 1rem;
  }
}

.header {
  display: flex;
  /* mixin mq */
  /* end mixin mq */
}
@media screen and (min-width: 650px) {
  .header {
    grid-column-start: 2;
    grid-column-end: -2;
  }
}

.header__nav {
  margin-left: auto;
}

.intro,
.project-status,
.about {
  /* mixin mq */
  /* end mixin mq */
  /* mixin mq */
  /* end mixin mq */
}
@media screen and (min-width: 1050px) {
  .intro,
.project-status,
.about {
    grid-column-start: 3;
    grid-column-end: -3;
  }
}
@media screen and (min-width: 650px) and (max-width: 1049px) {
  .intro,
.project-status,
.about {
    grid-column-start: 2;
    grid-column-end: -2;
  }
}

.header-container {
  /* mixin mq */
  /* end mixin mq */
}
@media screen and (min-width: 650px) {
  .header-container {
    /* prettier-ignore */
    background: var(--header-gradient), url(../../images/image-hero-desktop.jpg) center center no-repeat;
    height: 20.7rem;
  }
}

.button, .button--icon, .button--cyan,
button {
  border-radius: 100px;
  border: none;
  padding: 1rem 2rem;
  font-weight: bold;
  transition: background-color 0.2s;
}

.button--cyan {
  background-color: var(--moderate-cyan);
  color: white;
}
.button--cyan:hover {
  background-color: var(--dark-cyan);
}

.button--icon {
  padding: 0 1rem 0 0;
  position: relative;
  display: flex;
  align-content: center;
}
.button--icon:hover circle {
  fill: #5d5d5d;
}
.button--icon svg {
  height: 100%;
  margin-right: 1rem;
}
.button--icon circle {
  fill: #2f2f2f;
}
.button--icon path {
  fill: #b1b1b1;
}
.button--icon span {
  margin: auto;
}

.button--icon.bookmarked {
  color: var(--dark-cyan);
}
.button--icon.bookmarked circle, .button--icon.bookmarked:hover circle {
  fill: var(--dark-cyan);
}
.button--icon.bookmarked path {
  fill: white;
}

.container {
  margin-bottom: 1.5rem;
  padding: 2.7rem;
  background-color: white;
  border: 1px solid var(--grey100);
  border-radius: 0.4rem;
}

/*# sourceMappingURL=main.css.map */
