@charset "UTF-8";
:root {
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --dark-gray: hsl(0, 0%, 48%);
  --header-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 100%);
  --text-color: var(--dark-gray);
  --accent-color: hsl(216, 61%, 54%);
  --grey100: hsl(0, 0%, 92%);
  --grey300: hsl(0, 0%, 70%);
  --grey500: hsl(0, 0%, 50%);
  --base-font-size: 16px;
  --small-font-size: 14.4px;
  --line-height: 1.6em;
  --body-font-family: "Commissioner", sans-serif;
  --headings-font-family: var(--body-font-family);
  --h1-font-size: 2.7rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.3rem;
  --h5-font-size: 1.1rem;
  --h6-font-size: 1rem;
  --padding-container: 1.5rem;
  --border-radius-container: 0.4rem;
}

.header__nav,
.header__nav li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@keyframes focusin {
  from {
    filter: blur(20px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 100%;
  }
}
.focus-in, .focus-out {
  animation-name: focusin;
  animation-duration: 0.3s;
}

.focus-out {
  animation-direction: reverse;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  line-height: 1.6em;
  font-family: var(--body-font-family);
  color: var(--text-color);
  background-color: #eeeeee;
}

/* ========================== § TYPOGRAPHY === */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 60ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: black;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: 1.2em;
}

h2 {
  font-size: var(--h2-font-size);
  line-height: 1.2em;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: 1.2em;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: 1.2em;
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

a {
  color: var(--accent-color);
}

dt {
  font-weight: bold;
}

hr {
  border: none;
  border-bottom: 1px solid var(--grey300);
}

/* ========================== § TABLES === */
table,
td,
th {
  border: 1px solid var(--grey300);
}

table {
  border-collapse: collapse;
}

caption {
  font-size: var(--h4-font-size);
  font-weight: bold;
}

thead {
  font-weight: bold;
  background: var(--grey300);
}
thead th {
  border-color: var(--grey500);
}

td,
th {
  padding: 0.5rem;
}

/* ========================== § IMAGES === */
img {
  max-width: 100%;
}

figcaption {
  font-size: var(--small-font-size);
}

/* ========================== § FORMS === */
fieldset,
textarea {
  border: 1px solid var(--grey300);
}

textarea,
input,
select {
  border: 1px solid var(--grey300);
  padding: 0.5rem;
}

button,
input[type=submit] {
  cursor: pointer;
}

.header-container,
.main-content-container {
  /* mixin mq */
  /* end mixin mq */
  /* mixin mq */
  /* end mixin mq */
}
@media screen and (min-width: 650px) {
  .header-container,
.main-content-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
}
@media screen and (max-width: 649px) {
  .header-container,
.main-content-container {
    padding: 0 var(--padding-container);
  }
}

.header {
  display: flex;
  /* mixin mq */
  /* end mixin mq */
}
@media screen and (min-width: 650px) {
  .header {
    grid-column-start: 2;
    grid-column-end: -2;
  }
}

.header__nav-container {
  margin-left: auto;
}

.intro,
.project-status,
.about {
  /* mixin mq */
  /* end mixin mq */
  /* mixin mq */
  /* end mixin mq */
}
@media screen and (min-width: 1050px) {
  .intro,
.project-status,
.about {
    grid-column-start: 3;
    grid-column-end: -3;
  }
}
@media screen and (min-width: 650px) and (max-width: 1049px) {
  .intro,
.project-status,
.about {
    grid-column-start: 2;
    grid-column-end: -2;
  }
}

.main-content-container {
  margin-top: -3.5rem;
  /* mixin mq */
  /* end mixin mq */
}
@media screen and (min-width: 650px) {
  .main-content-container {
    margin-top: -5.7rem;
  }
}

.header-container {
  padding-top: 2rem;
  background: var(--header-gradient), url(../images/image-hero-mobile.jpg) center center no-repeat;
  height: 18.7rem;
  background-size: cover;
  /* mixin mq */
  /* end mixin mq */
}
@media screen and (min-width: 650px) {
  .header-container {
    padding-top: 3rem;
    height: 25rem;
    background: var(--header-gradient), url(../images/image-hero-desktop.jpg) center center no-repeat;
    background-size: cover;
  }
}

.button, .button--icon, .button--cyan,
button {
  border-radius: 100px;
  border: none;
  padding: 1rem 2rem;
  font-weight: bold;
  transition: background-color 0.2s;
}

.button--cyan {
  background-color: var(--moderate-cyan);
  color: white;
}
.button--cyan:hover {
  background-color: var(--dark-cyan);
}

.button--icon {
  padding: 0 1rem 0 0;
  position: relative;
  display: flex;
  align-content: center;
}
.button--icon:hover circle {
  fill: #5d5d5d;
}
.button--icon svg {
  height: 100%;
  margin-right: 1rem;
}
.button--icon circle {
  fill: #2f2f2f;
}
.button--icon path {
  fill: #b1b1b1;
}
.button--icon span {
  margin: auto;
}

.button--icon.bookmarked {
  color: var(--dark-cyan);
}
.button--icon.bookmarked circle, .button--icon.bookmarked:hover circle {
  fill: var(--dark-cyan);
}
.button--icon.bookmarked path {
  fill: white;
}

.container {
  margin-bottom: 1.5rem;
  padding: 2.7rem;
  background-color: white;
  border: 1px solid var(--grey100);
  border-radius: var(--border-radius-container);
}

/* ========================== § HEADER MENU === */
.header__nav {
  display: none;
  /* mixin mq */
  /* end mixin mq */
  /* end media query */
}
@media screen and (min-width: 650px) {
  .header__nav {
    display: block;
    /* end a */
  }
  .header__nav li {
    display: inline-block;
  }
  .header__nav li + li {
    margin-left: 2rem;
  }
  .header__nav a {
    color: white;
    text-decoration: none;
    font-size: var(--small-font-size);
  }
  .header__nav a:hover {
    text-decoration: underline;
  }
}

/* end header nav */
.header__hamburger {
  margin-left: auto;
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../../images/icon-hamburger.svg) 0 0 no-repeat;
  /* mixin mq */
  /* end mixin mq */
}
@media screen and (min-width: 650px) {
  .header__hamburger {
    display: none;
  }
}

/* ············ § MOBILE OPEN STATE ··· */
/* mixin mq */
@media screen and (max-width: 649px) {
  .header__nav-container.open {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    height: 100vh;
    z-index: 100;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem var(--padding-container) 10rem;
    /* end header__nav.open */
  }
  .header__nav-container.open .header__nav {
    width: 100%;
    margin-top: 2rem;
    display: block;
    z-index: 100;
    border-radius: var(--border-radius-container);
    background: white;
    /* end a */
  }
  .header__nav-container.open .header__nav li + li {
    border-top: 1px solid var(--grey100);
  }
  .header__nav-container.open .header__nav a {
    padding: 2rem 1.5rem;
    display: block;
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  .header__nav-container.open .header__nav a:hover {
    color: var(--moderate-cyan);
  }
  .header__nav-container.open .header__hamburger {
    background: url(../../images/icon-close-menu.svg) 0 0 no-repeat;
  }

  /* end header nav container */
}
/* end mixin mq */
/* end mq */
/* ············ § DESKTOP ··· */
/* mixin mq */
/* end mixin mq */
/* ========================== § INTRO === */
.intro {
  text-align: center;
  position: relative;
}

.intro__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro__title {
  margin-top: 0.6rem;
  font-size: 1.3rem;
  /* mixin mq */
  /* end mixin mq */
}
@media screen and (min-width: 650px) {
  .intro__title {
    font-size: 1.75rem;
  }
}

/*# sourceMappingURL=main.css.map */
