@use "../index" as *;

/* ========================== § INTRO === */
.intro {
  text-align: center;
  position: relative;
}
.intro__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro__title {
  margin-top: 0.6rem;
  font-size: 1.3rem;

  @include mq($tablet-width, up) {
    font-size: 1.75rem;
  }
}

.intro__buttons-container {
  margin-top: 1.4rem;

  @include mq($mobile-width, up) {
    display: flex;
    justify-content: space-between;
  }

  @include mq($tablet-width, up) {
    margin-top: 2.4rem;
  }
}

.intro__button--right {
  @include mq($mobile-width, down) {
    margin: 1rem auto 0 auto;
  }

  @include mq($tablet-width, down) {
    padding: 0;
    svg {
      margin: 0;
    }
    span {
      display: none;
    }
  }
}

/* ========================== § STATUS OF THE PROJECT === */
.project-status {
  @include mq($tablet-width, down) {
    text-align: center;
  }
}

.project-status__number-container {
  @include mq($tablet-width, up) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.project-status__status-container {
  @include mq($tablet-width, up) {
    margin-top: 1rem;

    + .project-status__status-container {
      border-left: 1px solid var(--grey100);
      padding-left: 2rem;
      margin-left: -1rem;
    }
  }

  @include mq($tablet-width, down) {
    position: relative;
    + .project-status__status-container {
      margin-top: 1rem;
      padding-top: 2.2rem;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 35%;
        width: 30%;
        height: 1px;
        border-top: 1px solid var(--grey100);
      }
    }
  }
}
.project-status__status {
  font-size: var(--small-font-size);
  span {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-bottom: 0.7rem;
  }
}

.project-status__status-difference {
  animation-name: focusin, hide-anim;
  animation-direction: reverse, normal;
  animation-duration: 0.3s, 0.01s;
  animation-delay: 5s, 5.3s;
  animation-fill-mode: forwards, forwards;
  color: var(--moderate-cyan);
}

/* ············ § PROGRESS BAR ··· */
.project-status__progress-bar-container {
  @include column-start-end(1, -1);
}

.project-status__progress-bar {
  margin-top: 2rem;
  width: 100%;
}

/* ========================== § ABOUT === */
.about {
  // padding-bottom: 4rem;
  @include mq($tablet-width, down) {
    font-size: var(--small-font-size);
  }
}

.about__title {
  margin-top: 0;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;

  @include mq($tablet-width, up) {
    margin-top: 0.2rem;
    margin-bottom: 2.3rem;
  }
}

.about__text-container {
  line-height: 1.55rem;
  margin-bottom: 2.5rem;

  @include mq($tablet-width, up) {
    line-height: 1.9em;
  }

  p {
    margin-bottom: 1.9rem;
  }
}

/* ············ § PLEDGE ··· */
.about__pledge {
  &:last-child {
    margin-bottom: 0;
  }
}
