@use "../index" as *;

/* ========================== § INTRO === */
.intro {
  text-align: center;
  position: relative;
}
.intro__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro__title {
  margin-top: 0.6rem;
  font-size: 1.3rem;

  @include mq($tablet-width, up) {
    font-size: 1.75rem;
  }
}

.intro__buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.4rem;

  @include mq($tablet-width, up) {
    margin-top: 2.4rem;
  }
}

.intro__button--right {
  @include mq($tablet-width, down) {
    padding: 0;
    svg {
      margin: 0;
    }
    span {
      display: none;
    }
  }
}
