@use "../index.scss" as *;

body.modal-open {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(black, 0.6);
  }
}

.modal {
  padding-top: 1.5rem;
  position: relative;
}

.modal__header {
  display: flex;
  flex-wrap: wrap;
}

.modal__close {
  margin-left: auto;
}

.modal__title {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;

  @include mq($tablet-width, up) {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}

.modal__subtitle {
  width: 100%;
  margin-bottom: 1.3rem;

  @include mq($tablet-width, up) {
    margin-bottom: 2.5rem;
  }
}

/* ========================== § PLEDGE === */

.modal__pledge__bottom {
  display: none;

  .modal__pledge.active & {
    display: block;
  }
}
