@use "../index.scss" as *;
body.modal-open {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(black, 0.6);
  }
}

/* ========================== § MICROMODAL === */
#modal-1 {
  display: none;
}

#modal-1.is-open {
  display: block;
}

/* ========================== § MODAL === */
.modal-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(black, 0.6);
  overflow: hidden;
  padding: 2vh 1rem;
}
.modal {
  padding-top: 1.5rem;
  height: fit-content;
  max-height: 96vh;
  overflow: auto;
  // position: relative;
}

.modal__header {
  display: flex;
  flex-wrap: wrap;
}

.modal__close {
  display: block;
  margin-left: auto;

  img {
    cursor: pointer;
  }
}

.modal__title {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;

  @include mq($tablet-width, up) {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}

.modal__subtitle {
  width: 100%;
  margin-bottom: 1.3rem;

  @include mq($tablet-width, up) {
    margin-bottom: 2.5rem;
  }
}

/* ========================== § PLEDGE === */

.modal__pledge__bottom {
  display: none;

  .modal__pledge.active & {
    display: block;
  }
}
