@use "../index.scss" as *;
body.modal-open {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(black, 0.6);
  }
}

/* ========================== § MICROMODAL === */
#modal-1,
#modal-2 {
  display: none;
}

#modal-1.is-open,
#modal-2.is-open {
  display: block;
}

/* ========================== § MODAL === */
.modal-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(black, 0.6);
  overflow: hidden;
  padding: 2vh 1rem;
  display: grid;
}
.modal {
  padding-top: 1.5rem;
  height: fit-content;
  max-height: 96vh;
  overflow: auto;
  // position: relative;
}

.modal__header {
  display: flex;
  flex-wrap: wrap;
}

.modal__close {
  display: block;
  margin-left: auto;

  img {
    cursor: pointer;
  }
}

.modal__title {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;

  @include mq($tablet-width, up) {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}

.modal__subtitle {
  width: 100%;
  margin-bottom: 1.3rem;

  @include mq($tablet-width, up) {
    margin-bottom: 2.5rem;
  }
}

/* ========================== § PLEDGE === */

.modal__pledge__bottom {
  display: none;

  .modal__pledge.active & {
    display: block;
  }
}

/* ========================== § MODAL COMPLETED === */
.modal-completed-container {
  display: grid;
  // align-content: center;
}

.modal-completed {
  margin-top: auto;
  margin-bottom: auto;
  height: fit-content;
  text-align: center;
  @include mq(1260px, up) {
    @include column-start-end(4, 6);
  }

  @include mq($tablet-width, 1260px) {
    @include column-start-end(3, 7);
  }
}

.modal-completed__title {
  font-size: 1.2rem;
}

.modal-completed__text {
  font-size: var(--small-font-size);
  p {
    margin-bottom: 2rem;
  }
}
