@use "../index" as *;
.header-container,
.main-content-container {
  @include mq($tablet-width, up) {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  @include mq($tablet-width, down) {
    padding: 0 var(--padding-container);
  }
}

.header {
  display: flex;
  @include mq($tablet-width, up) {
    @include column-start-end(2, -2);
  }
}

.header__nav-container {
  margin-left: auto;
}

.intro,
.project-status,
.about {
  @include mq($desktop-width, up) {
    @include column-start-end(3, -3);
  }
  @include mq($tablet-width, $desktop-width) {
    @include column-start-end(2, -2);
  }
}

.main-content-container {
  margin-top: -3.5rem;

  @include mq($tablet-width, up) {
    margin-top: -5.7rem;
  }
}
