@use "../index" as *;
.header-container {
  padding-top: 2rem;
  background: var(--header-gradient), url(../images/image-hero-mobile.jpg) center center no-repeat;
  height: 18.7rem;
  background-size: cover;

  @include mq($tablet-width, up) {
    padding-top: 3rem;
    height: 25rem;
    background: var(--header-gradient), url(../images/image-hero-desktop.jpg) center center no-repeat;
    background-size: cover;
  }
}
