@use "../index.scss" as *;

/* ========================== § HEADER MENU === */
.header__nav {
  @extend %reset-list;
  display: none;

  @include mq($tablet-width, up) {
    display: block;
  }
}

.header__hamburger {
  @include mq($tablet-width, up) {
    display: none;
  }
}

/* ············ § MOBILE ··· */
@include mq($tablet-width, down) {
  /* OPEN STATE */
  .header__nav-container.open {
    background: linear-gradient(to bottom, rgba(black, 0.8), rgba(black, 0));
    height: 100vh;
    z-index: 100;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 100%;
    padding: 2rem var(--padding-container) 10rem;

    .header__nav {
      width: 100%;
      display: block;
      z-index: 100;
      border-radius: var(--border-radius-container);
      background: white;

      li {
        padding: 2rem 1.5rem;
        & + li {
          border-top: 1px solid var(--grey100);
        }
      }

      a {
        font-size: 1.3rem;
        color: black;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: var(--moderate-cyan);
        }
      } /* end a */
    } /* end header__nav.open */

    /* HAMBURGER MENU */
    .nav__hamburger {
    }
  } /* end header nav container */
} /* end mq */
