@use "../index.scss" as *;

.pledge {
  @extend %container;
  padding: 2.2rem 1.8rem;

  &.checked {
    border: 2px solid var(--moderate-cyan);
  }

  &.inactive {
    .pledge__label,
    .pledge__title,
    .pledge__left span {
      color: var(--dark-gray);
    }

    .pledge__amount {
      color: var(--moderate-cyan-pale);
    }
    .pledge__reward,
    .pledge__left {
      color: var(--grey200);
    }

    .pledge__select {
      background-color: var(--grey200);
      cursor: not-allowed;
    }
  }
}

.pledge__header,
.pledge__footer {
  display: flex;
  justify-content: space-between;
}

.pledge__header {
  margin-bottom: 1.2rem;
}

.pledge__title,
.pledge__label {
  margin-top: 0;
  font-weight: 700;
  color: black;
}

.pledge__title {
  font-size: 1.1rem;
}

.pledge__amount {
  color: var(--moderate-cyan);
  font-weight: 500;
}

.pledge__footer {
  margin-top: 1.9rem;
}

.pledge__left {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;

  span {
    margin-right: 0.5rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    color: black;
  }
}

.pledge__select {
  font-size: var(--small-font-size);
  padding: 1rem 2rem;
}

/* ========================== § MODAL PLEDGE === */

.pledge__checkbox {
  @include circle(1.3rem);
  position: relative;
  -webkit-appearance: none;
  border: 1px solid var(--grey100);
  padding: 0;
  margin: 0;

  &:after {
    @include circle(0.6rem);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-0.28rem, -0.28rem) scale(0);
    background: var(--moderate-cyan);
    transition: 0.1s;
  }
}

.pledge__checkbox:checked {
  &:after {
    transform: translate(-0.28rem, -0.28rem) scale(1);
  }
}

/* ========================== § PLEDGE CHECK === */
.pledge--check {
  padding: 0;

  .pledge__amount {
    @include mq($tablet-width, up) {
      margin-left: 1rem;
    }
  }

  .pledge__label {
    font-size: var(--small-font-size);
    cursor: pointer;

    &:hover {
      color: var(--moderate-cyan);
    }
  }

  .pledge__left {
    span {
      font-size: 1.3rem;
    }
    @include mq($tablet-width, up) {
      margin-bottom: 1rem;
    }
  }
  .pledge__reward {
    font-size: var(--small-font-size);

    @include mq($tablet-width, up) {
      order: 3;
      width: 100%;
    }
  }

  .pledge__footer {
    @include mq($tablet-width, up) {
      margin-left: auto;
      margin-top: 0;
    }
  }
}

.pledge__top,
.pledge__enter-container {
  padding: 1.5rem;
}

.pledge__top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.pledge__checkbox-container {
  display: flex;
  margin-bottom: 1rem;
}

.pledge__checkbox {
  align-self: center;
  margin-right: 1rem;
}

.pledge__label,
.pledge__amount {
  @include mq($tablet-width, down) {
    display: block;
  }
}

.pledge__enter-container {
  border-top: 2px solid var(--grey100);
  display: none;

  @include mq(750px, down) {
    flex-wrap: wrap;
  }

  @include mq(750px, up) {
    align-items: center;
  }

  .pledge.checked & {
    display: flex;
  }
}

.pledge__enter__intro {
  width: 100%;
  @include mq(750px, down) {
    display: block;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.pledge__enter__input-button-container {
  display: flex;
  width: 100%;
}

.pledge__enter__input-container {
  position: relative;
  // flex-basis: 7rem;
  margin-right: 1rem;
  width: 100%;

  margin-left: auto;
  @include mq(750px, up) {
    width: 7rem;
  }
}

.pledge__enter__input {
  @include remove-arrows();
  width: 100%;
  padding: 1rem 1rem 1rem 2rem;
  text-align: right;

  &.error {
    border: 2px solid var(--alert-color);
  }
}

.pledge__enter__error {
  position: absolute;
  bottom: 4.2rem;
  right: -5rem;
  left: -5rem;
  color: var(--alert-color);
  padding: 0 1rem;
  text-align: center;
  background: var(--alert-color);
  line-height: 1.3em;
  // border: 1px solid var(--alert-color);
  color: white;
  border-radius: 0.5rem;

  &:before {
    --triangle-width: 0.7rem;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: var(--triangle-width) var(--triangle-width) 0 var(--triangle-width);
    border-color: var(--alert-color) transparent transparent transparent;
    position: absolute;
    bottom: calc(var(--triangle-width) * -1);
    left: 50%;
    transform: translate(calc(var(--triangle-width) * -1));
  }
}

.pledge__enter__label {
  position: absolute;
  top: 0;
  left: 1rem;
  height: 100%;
  line-height: 3.2rem;
  align-content: center;
}

.pledge__enter__button {
  @include mq(750px, down) {
    margin-left: auto;
  }
}
