$base-font-size: 16px;
$small-font-size: 16px * 0.9;
$desktop-width: 1050px;
$tablet-width: 650px;
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

@-moz-document url-prefix() {
  @font-face {
    font-family: "Commissioner";
    font-weight: normal;
    /* prettier-ignore */
    src: 
      url('../fonts/commissioner-regular-webfont.woff2') format('woff2'),
      url('../fonts/commissioner-regular-webfont.woff') format('woff'),

  }
  @font-face {
    font-family: "Commissioner";
    font-weight: medium;
    /* prettier-ignore */
    src: 
      url("../fonts/commissioner-medium-webfont.woff2") format("woff2"), 
      url("../fonts/commissioner-medium-webfont.woff") format("woff");
  }
  @font-face {
    font-family: "Commissioner";
    font-weight: bold;
    /* prettier-ignore */
    src: 
      url('../fonts/commissioner-bold-webfont.woff2') format('woff2'),
      url('../fonts/commissioner-bold-webfont.woff') format('woff')
  }
}

:root {
  // Colors
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --dark-gray: hsl(0, 0%, 48%);
  --header-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 100%);
  --text-color: var(--dark-gray);
  --accent-color: hsl(216, 61%, 54%);
  --grey100: hsl(0, 0%, 92%);
  --grey300: hsl(0, 0%, 70%);
  --grey500: hsl(0, 0%, 50%);

  // Typography
  --base-font-size: #{$base-font-size};
  --small-font-size: #{$small-font-size};
  --line-height: 1.6em;
  --body-font-family: Commissioner, sans-serif;
  --headings-font-family: var(--body-font-family);
  --h1-font-size: 2.7rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.3rem;
  --h5-font-size: 1.1rem;
  --h6-font-size: 1rem;
  --padding-container: 1.5rem;
  --border-radius-container: 0.4rem;
}
